/* side bar */
@media only screen and (max-width: 767px) {
  ul#links {
    background-color: yellow; } }

.sidebar {
  margin-top: 42px;
  text-decoration: none;
  overflow: scroll; }
  @media only screen and (max-width: 767px) {
    .sidebar {
      padding: 0 16px;
      margin-left: 0; } }
  .sidebar h2 {
    margin-top: 5px; }

.sidebar ul {
  margin-bottom: 21px;
  list-style-position: inside;
  font-size: 20px;
  line-height: 1.5;
  padding-bottom: 3px; }
  .sidebar ul a {
    color: #444; }

.sidebar li.title {
  font-size: 20px;
  padding-bottom: 3px;
  padding-top: 9px;
  list-style-type: none; }
  .sidebar li.title a {
    color: #444; }

.sidebar li.title .small {
  font-size: 15px;
  padding-left: 5px; }

.sidebar li {
  font-size: 16px; }

.sidebar li a {
  color: #777; }

.sidebar li a:hover {
  text-decoration: none;
  color: red; }

.sidebar li:not(.title) {
  margin-left: 7px;
  padding-top: 3px; }

.sidebar.affix {
  top: 0;
  position: static !important; }
  @media only screen and (min-width: 768px) {
    .sidebar.affix {
      position: fixed !important; }
      .sidebar.affix + #main {
        margin-left: 33.33333%; } }

.bottombar {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  border-top: 1px #ccc solid; }
  .bottombar ul {
    padding-left: 0;
    list-style-type: none;
    margin: 0; }
  .bottombar a {
    display: block;
    width: 100%;
    height: 100%;
    color: #444;
    padding: 1em 0; }
  .bottombar .glyphicon {
    font-size: 150%; }
