//- div.navbar-header
//- button.cus-pos(type="button", class="navbar-toggle boton", data-toggle="collapse", data-target="#links", id="menuToggle")
//-     span(class="glyphicon glyphicon-align-justify")
//- ul(class="collapse navbar-collapse" id="links")
h2 行動大綱
ul
    li.title
        a(href="#teach")
            | 三動作
        li
            a(href="#action1")
                | 動作一
        li
            a(href="#action2")
                | 動作二
        li
            a(href="#action3")
                | 動作三
    li.title
        a(href="#others")
            | 還可以怎麼說？
        li
            a(href="#citizen")
                | 民意篇
    li.title
        a(href="#ly")
            | 找立委
        li
            a(href="#ly")
                | 立委列表
        li
            a(href="#ly-locate")
                | 尋找選區立委
        li
            a(href="#ly-state")
                | 立委「先立法，再審查」承諾書繳交情形列表
        //- li
        //-     a(href="#ly-map")
        //-         | 立委地圖
        li
            a(href="#ly-more")
                | 想更了解你的立委？
    li.title
        a(href="#contract")
            | 兩岸協議監督條例
        li
            a(href="#local-ver")
                | 民間版「兩岸協定締結條例內容」
        li
            a(href="#act-ver")
                | 行政院版本兩岸協議監督條例
        li
            a(href="#ding-ver")
                | 鄭麗君版 
        li
            a(href="#DPP-ver")
                | 民進黨黨團版 
        li
            a(href="#yao-ver")
                | 姚文智版 
    li.title
        a(href="#discuss")
            | 立委怎麼說？經驗分享
    li.title
        a(href="#report")
            | 功能新增與除錯建議
